

/* リセット */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* ボックスモデルを統一 */
  min-height: 100vh; /* ページ全体の高さを確保 */
  scroll-padding-top: 20vh; /* 固定ヘッダーの高さ */
  scroll-behavior: smooth;
}

body{
  color:#333333;

  font-family: "M PLUS 1p", serif;
  font-weight: 400;
  font-style: normal;

}


header {
    width: 100%; /* 横幅を100%に指定 */
    background-color:#7fffd4; /* 背景色 */
    color:#333333 ; /* テキストの色 */
    padding: 10px 0; /* 上下の余白を追加 */
    position: relative; /* 必要に応じて */
  
    position: fixed; /* 固定配置 */
    top: 0;
    left: 0;
    height: 10vh; /* ヘッダーの高さ */
    z-index: 1000; /* 他の要素より前面に表示 */
  }

h1{
    text-align: center; /* テキストを中央揃え */
    color:#333333;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.scale_footer{
  position: absolute; /* フッターを絶対配置 */
  bottom: 0; /* 画面の下に配置 */
  width: 100%; /* 横幅を100%に指定 */
  background-color:#7fffd4; /* 背景色 */
  color:#333333 ; /* テキストの色 */
  text-align: center; /* テキストを中央揃え */
  padding: 10px 0; /* 上下の余白を追加 */
  height:8vh;
}
  /* footerのスタイル */
.index_footer {
    width: 100%; /* 横幅を100%に指定 */
    background-color:#7fffd4; /* 背景色 */
    color:#333333 ; /* テキストの色 */
    text-align: center; /* テキストを中央揃え */
    padding: 10px 0; /* 上下の余白を追加 */
    position: relative; /* 必要に応じて */
  }



.header_li {
    list-style: none; /* 点を消す */
    padding: 0px;
    margin: 20px;
    display: flex;
    float:left;
  }
  
.header_li li {
    margin-right: 15px; /* 各項目の間隔 */
  }
  
.header_li a {
    text-decoration: none; /* アンダーラインを消す */
    color: #333333; /* 文字色を指定 */
  }

.header_li_r{
  list-style: none; /* 点を消す */
  padding: 0px;
  margin: 20px;
  display: flex;
  float:right;
}

.header_li_r li{
  margin-right: 15px; /* 各項目の間隔 */
}

.header_li_r a {
  text-decoration: none; /* アンダーラインを消す */
  color: #333333; /* 文字色を指定 */
}

.btn{
  padding:10px;
  border-radius: 8px;
  background-color: #cef9dc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.btn_s{
  padding:10px;
  border-radius: 8px;
  background-color: #b9e1c6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
 
.scale_ul{
  list-style: none;
  display:flex;
  gap: 30px; /* 各リスト間に余白を追加 */
  flex-wrap: wrap; /* 折り返しを有効にする */
}
.scale_ul li{
    margin:10px 0px;
}

.scale_main{
  width: 80%; /* メインコンテンツの幅を指定 */
  background-color: #f4f4f4; /* 背景色を追加 */
  padding: 160px 20px 20px 20px; /* 内側の余白 */
  border-radius: 8px; /* 角を丸くする */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 少し立体感を出す */
  margin:0 auto;
  height:70vh;

  }

.index_main {
    width: 80%; /* メインコンテンツの幅を指定 */
    background-color: #f4f4f4; /* 背景色を追加 */
    padding: 160px 20px 20px 20px; /* 内側の余白 */
    border-radius: 8px; /* 角を丸くする */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 少し立体感を出す */
    margin:0 auto;
    flex: 1; /* コンテンツ部分を可変にする */
  }



.contact{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 8px; /* 角を丸くする */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 少し立体感を出す */
}

.scale_image{
    height:100px;
    width:300px;
    display: block;
}

.scale_a{
  display: block;
}

h3 {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-color: #7fffd4; /* アンダーラインの色 */
  text-decoration-thickness: 3px; /* アンダーラインの太さ */
}

h2{
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-color: #1effb4; /* アンダーラインの色 */
  text-decoration-thickness: 5px; /* アンダーラインの太さ */
}


/*page2*/

.scale_image_2{
    display: block; /* ブロック要素に変更 */
    margin: 0 auto; /* 左右の自動マージンで中央揃え */
    max-width: 100%; /* 画像が大きすぎないように制限 */
    height: 120px;
    width:400px;
  }

  .sound{
    text-align: center;
  }

  .key_image{
    display: block; /* ブロック要素に変更 */
    margin: 0 auto; /* 左右の自動マージンで中央揃え */
    max-width: 100%; /* 画像が大きすぎないように制限 */
    height: 100px;
    width:300px;
  }

  .section{
    width: 80%; /* メインコンテンツの幅を指定 */
    background-color: #f4f4f4; /* 背景色を追加 */
    margin:0 auto;
    padding:20px;
  }



  @media (min-width: 481px) and (max-width:1200px){

    header {
      width: 100%; /* 横幅を100%に指定 */
      background-color:#7fffd4; /* 背景色 */
      color:#333333 ; /* テキストの色 */
      padding: 3px 0; /* 上下の余白を追加 */
      position: relative; /* 必要に応じて */
      position: fixed; /* 固定配置 */
      top: 0;
      left: 0;
      height: 70px; /* ヘッダーの高さ */
      z-index: 1000; /* 他の要素より前面に表示 */
    }

    .header_li {
      list-style: none; /* 点を消す */
      padding: 0px;
      margin: 1px;
      display: flex;
      float:left;
    }
    
    .header_li li {
      margin-right: 1px; /* 各項目の間隔 */
    }
    
    .header_li_r{
    list-style: none; /* 点を消す */
    padding: 0px;
    margin: 1px;
    display: flex;
    float:right;
    }
    
    .header_li_r li{
    margin-right: 1px; /* 各項目の間隔 */
    }
    

    
    .btn{
      padding:5px;
      border-radius: 8px;
      background-color: #cef9dc;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    }
    
    .btn_s{
      padding:5px;
      border-radius: 8px;
      background-color: #b9e1c6;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    }
     
    .scale_ul{
      gap: 30px; /* 各リスト間に余白を追加 */
    }
    .scale_ul li{
        margin:8px 0px;
    }

    }
    
  
    
    @media (max-width: 500px) {

      header {
        width: 100%; /* 横幅を100%に指定 */
        background-color:#7fffd4; /* 背景色 */
        color:#333333 ; /* テキストの色 */
        padding: 3px 0; /* 上下の余白を追加 */
        position: relative; /* 必要に応じて */
        position: fixed; /* 固定配置 */
        top: 0;
        left: 0;
        height: 80px; /* ヘッダーの高さ */
        z-index: 1000; /* 他の要素より前面に表示 */
      }
      
        
    .header_li {
      list-style: none; /* 点を消す */
      padding: 0px;
      margin: 5px;
      display: flex;
      float:left;
    }
    
    .header_li li {
      margin-right: 0px; /* 各項目の間隔 */
    }
    
    .header_li_r{
    list-style: none; /* 点を消す */
    padding: 0px;
    margin: 5px;
    display: flex;
    float:right;
    }
    
    .header_li_r li{
    margin-right: 0px; /* 各項目の間隔 */
    }
    

    .btn{
      padding:3px;
      border-radius: 8px;
      background-color: #cef9dc;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); 
    }
    
    .btn_s{
      padding:3px;
      border-radius: 8px;
      background-color: #b9e1c6;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); 
    }
     
    .scale_ul{
      flex-direction: column; 
      gap: 5px; /* 各リスト間に余白を追加 */
    }
    .scale_ul li{
        margin:5px 0px;
    
    }

    h1{
      font-size: 7vw; 
    }
  }

  @media (max-height: 500px) {
    .scale_main{
      width: 80%; /* メインコンテンツの幅を指定 */
      background-color: #f4f4f4; /* 背景色を追加 */
      padding: 160px 20px 20px 20px; /* 内側の余白 */
      border-radius: 8px; /* 角を丸くする */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 少し立体感を出す */
      margin:0 auto;
      flex:1;
      height:auto;
      }

      .scale_footer{
        width: 100%; /* 横幅を100%に指定 */
        background-color:#7fffd4; /* 背景色 */
        color:#333333 ; /* テキストの色 */
        text-align: center; /* テキストを中央揃え */
        padding: 10px 0; /* 上下の余白を追加 */
        position:relative;
        height:auto;
      }
    }
